.detail-background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 40;
    align-items: center;
}

.detail{
    border-radius: 4px;
    width: 900px;
    min-width: 900px;
    /* height: 513px; */
    background-color: #fff;
    z-index: 100;
    position: fixed;
    left: calc((100% - 900px)/2);
    top: 100px;
    opacity: 1;
    padding-top: 24px;
}

.detail input{
    margin-top: 8px;
    margin-bottom: 14px;
}

.detail__head,
.detail__head-right,
.detail__head-left{
    display: flex;
}

.detail__head{
    justify-content: space-between;
    height: 37px;
    margin-bottom: 24px;
    padding: 0 24px;
}

.help-btn{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -89px -145px;
	width: 24px;
	height: 24px;
    margin-right: 6px;
}

.close-btn{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -141px -146px;
	width: 24px;
	height: 24px;
}

.detail-name{
    font-size: 24px;
    font-family: Notosans-bold;
}

.detail__head-select{
    padding: 0 20px;
    display: flex;
    /* margin-top: 10px; */
}

.select__text{
    margin-left: 8px;
    margin-top: 6px;
}

.detail-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.detail__bottom{
    display: flex;
    justify-content: space-between;
    padding: 12px 26px;
    border-top: 1px solid #cccccc8f;
    background-color: #F5F5F5;
    border-radius: 0 0 4px 4px;
}

.detail .save-btn{
    margin-left: 8px;
}

.detail__container{
    padding: 0 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 26px;
    row-gap: 24px;
    margin-bottom: 10px;
}

.block-3{
    grid-column: 1/3;
    padding-bottom: 24px;
}

.detail-row-100{
    display: flex;
    width: 100%;
}

.detail-row-75{
    display: flex;
    width: 75%;
}

.detail-input{
    width: 100%;
    position: relative;
    
}

.small-left{
    width: 70%;
    margin-right: 6px;
}
.small-right{
    width: 70%;
    margin-left: 6px;
}

.equal{
    margin-right: 6px;
}

.detail-input__label{
    font-family: Notosans-bold;
}

.compulsory-field{
    font-family: Notosans-bold;
    color: red;
    margin-left: 2px;
}

.sex-selection{
    display: flex;
    margin-top: 12px;
}

.sex-selection__item{
    display: flex;
}

.sex-selection__item--text{
    margin-left: 8px;
    margin-right: 24px;
    /* margin-top: 8px; */
    cursor: pointer;
}

.sex-selection__item--input{
    margin-top: 0 !important;
}

.mgl-10{
    margin-left: 10px;
}

.input-date{
    width: 100%;
    height: 36px;
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    padding: 0 10px;
}

