.subBtn{
    width: 105px;
    height: 28px;
    border-radius: 30px;
    color: #111;
    border: 2px solid #3b3c3f;
    background-color: #fff;
    padding: 0 16px;
    display: flex;
    margin: 0 6px;
}

.subBtn_text{
    font-weight: 600;
    padding-right: 4px !important;
    margin-top: 4px;
}

.subBtn_icon{
    background: url('../../assets/img/Sprites.1d08185e.svg') no-repeat -560px -359px;;
	width: 16px;
	height: 16px;
    margin-top: 4px;
}