.table {
  border-spacing: 0;
  overflow-x: scroll;
  padding-bottom: 48px;
  /* overflow-y: scroll; */
}

table tr td,
th {
  border-bottom: 1px solid #d4d7dc;
  border-right: 1px dotted #c7c7c7;
  padding: 0 10px;
  font-size: 14px;
}

th {
  background-color: #e5e8ec;
  padding: 14px 16px;
  height: 28px;
  text-align: left;
  font-weight: 600;
}

td {
  height: 30px;
  background-color: #fff;
  padding: 14px 16px !important;
}

tr{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #b8bcc3;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

tr:hover td {
  background-color: #f2f9ff !important;
}

.more-option{
  /* display: none; */
  position: absolute;
  background-color: #fff;
  z-index: 100 !important;
  top: 20px;
  right: 20px;
  border: 1px solid #ccc;
}

.table-option{
  display: flex;
  align-items: center;
  position: relative;
}

.fix-empl{
  font-weight: 600;
  color: #1b84c7;
  cursor: pointer;
  padding-left: 16px ;
}

.more-option__btn{
  background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -900px -359px;
	width: 16px;
	height: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.option-items{
  padding: 5px 10px;
  width: 124px;
}

.option-items:hover{
  color: #2ca01c;
  background-color: #eceef1;
  cursor: pointer;
}

.text-align--center{
  text-align: center;
}

.text-align--left{
  text-align: left;
}

.second-column{
  position: sticky;
  left: 49px;
}

.third-column{
  position: sticky;
  left: 199px;
}

