.toast-container{
    /* height: 56px; */
    /* width: 450px; */
    max-width: 450px;
    background-color: #fff;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 4px rgba(0, 0, 0, 0.078);
    display: flex;
    /* align-items: center; */
    padding: 0 16px;
}

.success-toast-icon{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -96px -962px;
	min-width: 32px;
	height: 32px;
    margin-top: 12px;
}

.fail-toast-icon{
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -32px -962px;
	min-width: 32px;
	height: 32px;
    margin-top: 12px;
}

.success-toast-status{
    font-weight: 600;
    color: #50B83C;
    margin-right: 4px;
}

.fail-toast-status{
    font-weight: 600;
    color: #ff3b30;
    margin-right: 4px;
}

.toast-message{
    margin-top: 18px;
    margin-bottom: 18px;
    padding-left: 8px;
}
